.button-container {
    text-align: center;
}
.navbar {
    padding: 10px 20px;
}

.nav-link {
    margin-right: 15px;
}

@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
        width: 100%;
    }
    .nav-item {
        margin: 5px 0;
    }
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.containercontact {
    max-width: 600px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input:focus, textarea:focus {
    border-color: #4CAF50;
    outline: none;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.message {
    display: none;
    padding: 10px;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 4px;
    margin-top: 10px;
}
.containerlesson {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.card:hover {
    transform: scale(1.05);
}


.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}
.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-img-top {
    height: 180px;
    width: 70%;
    object-fit: cover;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.card .btn {
    margin-top: auto;
}
