.button-container {
    text-align: center;
}
.navbar {
    padding: 10px 20px;
}

.nav-link {
    margin-right: 15px;
}

@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
        width: 100%;
    }
    .nav-item {
        margin: 5px 0;
    }
}
